/* 
Author:     George Adams
Date:       27.02.2026
Message:    Why hello there! 
*/

main {
    margin-left: 160px; /* leave space for sidebar */
    padding: 10px;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
}

.sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 12%;
    background-color: #555555;
    box-sizing: border-box;
}

.sidebar button {
    color: #fff;
    height: 12%;
    width: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: #555555;
    font-size: 17.5px;
    border: none;
    font-family:'Courier New', Courier, monospace;
}

.sidebar button:hover {
    background-color: #fff;
    color: #555;
}


.icons {
    height: 30px;
    width: 30px;
}